body{
    background-color: white;
}

.theboyz{
    float: right;
}
.nextsidebar{
    background-color:lightblue;
    padding: 6px;
    margin: 20px;
}
.green{
    background-color:lightblue;
    padding: 6px;
    margin: 20px;
}
.head{
    background-color: lightblue;
    padding: 6px;
    margin: 20px;
    border-bottom: rgb(29, 57, 83);
    border-radius: 35px;
}
h2{
    background-color: rgb(77, 187, 224);
    padding: 4px;
    margin: 10px;
    border-bottom: rgb(29, 57, 83);
    border-radius: 30px;

}
h1{
    color: rgb(21, 60, 70);
}


@media screen and (max-width: 480px){
    body{
            background-color: white;
            color: blue;
    }
}